<div>
  This page contains  <%= Dir[File.dirname(__FILE__) + "/pictures/*"].length %> mini-pictures of Rigs of Rods mods.<br>
  You download the mod by searching the filename <a target="_blank" href="http://archives.rigsofrods.net/repo">here</a><br>
  Click on an image to enlarge it
</div>
<hr>

<div id="images">
  <% Dir.foreach(File.dirname(__FILE__) + "/pictures") do |file| %>
    <% next if file == '.' or file == '..' %>
    <center class="img">
      <img src="<%= "pictures/" + file %>" width="200" height="200" style="cursor: pointer">
      <div class="desc"><%= file.split(".zip_")[0] %></div>
    </center>

  <% end %>
</div>

<script>
    new Viewer(document.getElementById('images'));
</script>
